
/* navbar */

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

nav .logo-container{
    width: 90px;
    margin: 15px;
}
nav .logo-container .logo{
    width: 100%;
}

nav .nav-button{
    color : rgb(254, 48,114);
    background-color: rgb(255,255,255);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    height: 70px;
    margin: 10px;
    margin-top: 20px;
}

nav .nav-button:disabled{
    background-color: rgb(180,180,180);
    color : rgb(204, 37, 90);

}

/*home*/

.overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* background: linear-gradient(to bottom, rgb(0,0,0,0.65), rgb(199, 236, 187)) ; */
    background:#FBDF07;


}

.home{
    margin-top: 10vh;
}

.home .primary-title{
    /* margin-top: 10vh; */
    margin-bottom: 20px;
}



/* auth modal */

.auth-modal{
    position: flex;
    justify-content: center;
    
    /* top: 50px; */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    padding-top: 20px;
}

.auth-modal .close-icon{
    float: right;
}

.auth-modal form{
    display: flex;
    flex-direction: column;
}

.auth-modal input{
    padding: 8px;
    margin: 8px;
    font-size: 17px;
}


/* onboarding page */

.onboarding form{
    display: flex;
    justify-content: center;
}

.onboarding form section{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width :40%;
    text-align: start;
}

.onboarding form input{
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px #FBDF07;
    border-radius: 10px;


}
.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button{
    -webkit-appearance:none ;  /*removing the arrow in dob inputs*/
    margin:0;
}

/* .onboarding form label{
    margin: 10px 0;
}
 */

#dob_month, #dob_day, #dob_year{
    width: 10%;
}


.onboarding form section .multi-input-container{
    display: flex;
    flex-direction:row ;
    /* color: pink; */
    /* justify-content: center; */
}


 .onboarding form section .multi-input-container input{
    margin-right: 10px;
}



.onboarding form section .multi-input-container label{
    /* margin-right: 10px;
     */
     padding: 10px;
     border: solid 2px rgb(7,110, 110);
     border-radius: 10px;
     transition: all 0.5s ;
     margin-right: 10px;

}

.onboarding form section .multi-input-container input[type="radio"]{
    display: none;  

}

.onboarding form input[type="radio"]:checked + label{
    border: solid 3px rgb(204, 37, 90);

}

.onboarding form input[type="submit"]:hover{  /*on hover coolor change*/
    transition: 0.2s;
    background-color: #FF7F3F;
}
.onboarding form input[type="submit"]:active{  /*on lick color change*/
    transition: 0.2s;
    background-color: #F94892;
}

.onboarding form .photo-container img{
    width: 100%;
}


/* dashboard */

.dashboard{
    display: flex;
    justify-content: space-between;
}

.dashboard .swipe-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


    
.swipe {
    position: absolute;
}
  
.dashboard  .card-container {
    width: 400px;
    /* max-width: 260px; */
    height: 650px;
  }
  
  .card {
    /* position: relative; */
    /* background-color: #fff; */
    /* width: 80vw;
    max-width: 260px;
    height: 300px; */
    width: 400px;
    height: 650px;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
    border-radius: 30px;
    background-size: cover;
    background-position: center;
}

.infoText {
    width: 100%;
    justify-content: center;
    display: flex;
    /* color: #fff; */
    animation-name: popup;
    animation-duration: 800ms;
}

.card .h3{
    margin-top: 0;

}


.dashboard .swipe-info{
    position: absolute;
    bottom: 0;
    padding: 50px;
}


/* chat container */










